@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Sansita+Swashed:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}
h1{
    flex: 1;
    color: greenyellow;
    font-size: 1000%;
    width: 100%;
    height: 10pc;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}
h2{
    flex: 1;
    color: greenyellow;
    padding-left: 20pc;
    padding-right: 20pc;
    padding-bottom: 5pc;
    font-size: 4pc;
    width: 50pc;
    height: 10pc;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}
#logo{
    flex: 2;
    float: right;
    height: 2pc;
    margin: 2pc;
    border-radius: 30px;
}
#navbar{
    display: flex;
    /* flex-flow: row;  */
    justify-content: flex-end;
    padding:solid green 5pc;
    margin:solid red 5pc;
    font-family: 'Kaushan Script', cursive;

}
#navbar_other{
    display: flex;
    /* flex-flow: row;  */
    float: bottom;
    justify-content: flex-start;
    padding:solid green 5pc;
    margin:solid red 5pc;
    font-family: 'Kaushan Script', cursive;

}
.navIcon{
    flex: 2;
    size: 20pc;
    display: flex;
    justify-content: space-evenly;
    font-size: 1pc;
    color: greenyellow;
    padding: 10px;
    padding-left: 2pc ;
    margin: 2pc ;

}
.nav_items{
    padding-left: 10px;
    padding-right: 10px;
}
.about{
    border: 1px solid grey;
    font-size: 1.5pc;
    margin: 1px;
    padding: 10px;
    border-radius: 10px;
}

#about_style{
    flex: 3;
    display: flex;
    flex-direction: column;
    float: right;
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 14, 14);
    font-weight: bolder;
    margin: 2pc;
    width: 10pc;
    height: 5pc;
    clear: both;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-end;    
    width: 10pc;
    height: 20pc;
    padding-right: 10pc;
    padding-left: 15pc;
    
}
.button_pebble{
    width: 10pc;
    height:10pc;
    margin-bottom: 5pc;
    padding:5px;
    background-color: lightskyblue;
    border: 10px;
    border-style: solid;
    border-color: lightskyblue;
    border-radius: 100px;
    margin: 0;
    color: lawngreen;
}
.button_cactus{
    width: 10pc;
    height: 10pc;
    margin-top: 5pc;
    padding:5px;
    background-color: lightgreen;
    border: 10px;
    border-style: solid;
    border-color: lightgreen;
    border-radius: 100px;
    margin: 0;
    color: lightcoral;
}
#side_images{
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 2pc;
    align-self: flex-start;
}
.img_container{
    flex: 4;
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 5%;
}
#cacti{
    width: 20pc;
    height: 15pc;
    object-fit: cover;
    border-radius: 20px;    
}
#white{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-width: 250px 0 250px 150px 0;
     
}
#desert{
    width: 20pc;
    height: 15pc;
    object-fit: cover;
    border-radius: 20px;   
}
#white_2{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-width: 250px 0 250px 150px 0;
     
}
#pebbles{
    width: 20pc;
    height: 15pc;
    object-fit: cover;
    border-radius: 20px;
     
}
#white_3{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-width: 250px 0 250px 150px 0;
     
}
.images_text{
    font-family: 'Satisfy', cursive;
    color: rgb(0, 14, 14);
    font-size: 1.5pc;
    font-weight:bold;
    vertical-align: middle;
    justify-content: left; 
    width: 45%;
    padding:10px;
    border-style: solid;
    border-color: lightcoral;
    border-radius: 25px;
    
}
.triangle-right {
	/* width: 10%;
	height: 60%;
	border-top: 100px solid transparent;
    border-left: 40px solid blue;
    border-right: 10px solid transparent;
    border-bottom: 100px solid transparent; */
    
    float: left;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50pc 0 50pc 30pc;
    border-color: transparent transparent transparent ;
    border-radius: 10px;

}
.top-op{
    flex: 1;
    width: 83pc;
    height: 20pc;
    object-fit: cover;
    border-radius: 10px;
    margin: 1%;
}
#ads_home{
    width: 50%;
    height: 100px;
    align-self: flex-end;
    border-style: ridge;
    border-color: rgba(233, 228, 228, 0.253);
    border-radius: 25px;
}
#ads{
    /* display: flex; */
    width: 20%;
    height: 500px;
    float: right;
    /* clear: both; */
    border-style: ridge;
    border-color: rgba(233, 228, 228, 0.253);
    border-radius: 25px;
    margin: 5%;
    margin-right: 1%;
}
.general_text{
    display: flex;
    font-family: 'Indie Flower', cursive;
    justify-self: center;
    align-self: center;
    border-radius: 30px;
    background-color: rgb(248, 248, 182);
    Padding: 20px
}
.rounder{
    border-radius: 100px;
    background-color: rgb(248, 248, 182);
    width: 7pc;
    height: 7pc;
    padding: 10px;
    margin-right: -30px;
}
.general_text2{
    display: flex;
    font-family: 'Indie Flower', cursive;
    justify-self: center;
    align-self: center;
    border-radius: 30px;
    background-color: rgba(181, 250, 171);
    Padding: 20px
}
.rounder2{
    border-radius: 100px;
    background-color: rgba(181, 250, 171);
    width: 7pc;
    height: 7pc;
    padding: 10px;
    margin-right: -30px;
}
.general_text3{
    display: flex;
    font-family: 'Indie Flower', cursive;
    justify-self: center;
    align-self: center;
    border-radius: 30px;
    background-color: rgba(49, 86, 104);
    Padding: 20px
}
.rounder3{
    border-radius: 100px;
    background-color: rgba(49, 86, 104);
    width: 7pc;
    height: 7pc;
    padding: 10px;
    margin-right: -30px;
}
#circles_mid{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-content: flex-start;
    margin:5pc;
}